@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  background: #141835;
  color:#fff;
  overflow: hidden;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
#wrapper{
  display:flex;
  flex-direction: row;
}
#left{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
#right{
  flex:1;
}
#signin{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  padding-bottom:2rem;
}
#signin form{
  width:80%;
  padding-bottom:3rem;
}
.logo{
  margin-bottom: 8vh;
}
#signin label{
  line-height: 2rem;
}
.text_input{
  border-radius: 50px;
  padding:18px;
  width:100%;
  max-width:90%;
  min-width:80%;
  border: 1px solid #0e89f0;
  background:#141835;
  margin-bottom:30px;
}
.text_input{
  color:#0e89f0;
}
.login_button{
  margin-top: 20px;
  cursor: pointer;
  height:45px;
  border-radius: 50px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background: #11142e;
  color: #0e89f0;
  border: 1px solid #0e89f0;
  width:100px;
}
#showcase{
  background: url('../images/bg_w_logo_w_out_shade.png') no-repeat center/ cover;
  height:100vh;
}

@media (min-width: 1200px){
  #left{
    flex: 4;
  }
  #right{
    flex: 6;
  }
}
@media (max-width: 768px){
  #right{
    display:none;
  }
}
