@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  overflow: hidden;
  box-sizing: border-box;
}
#wrapper{
  display:flex;
  justify-content:  center;
  align-items: center;
}
.blurred_bg{
  background: url("../images/bg_w_shade.png") center/cover;
  position:relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  animation: hue 4s infinite;
}
.another_img{
  background: url("../images/logo_w_placeholder.png") center/cover;
  mix-blend-mode: normal;
  position:relative;
  height: 100vh;
}

.blurred_bg::after{
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  /* filter:blur(1rem); */
}
@keyframes hue {
  from{
    filter: hue-rotate(0);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

.nav_bg{
  margin:0;
  padding:0;
  position:absolute;
}
.branding{
  position:absolute;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:75%;
  margin: auto;
  margin-top: 140px;
  z-index:2;

}
.branding img{
  margin-top:10px;
}



/* IDEA: custom made nav */
.custom-shape-divider-top-1641460862 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1641460862 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 172px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1641460862 .shape-fill {
    fill: #09103D;
}
/* IDEA: custom made footer */
.custom-shape-divider-bottom-1641465706 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641465706 svg {
    position: relative;
    display: block;
    width: calc(207% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1641465706 .shape-fill {
    fill: #09103D;
}
.branding nav{
}
nav a{
  color:#A5B1FF;
  text-decoration: none;
  font-size: 17px;
}

nav ul{
  padding:0;
  display:flex;
  align-items: center;

}
nav li{
  float:left;
  display:inline;
  padding:0 20px;
}
.nav ul li{
  padding:0 5px;
}

h2{
  color:#09103D;
  text-align: center;
  margin:2rem 0;
}
.item{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  max-width:800px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.item:nth-child(even){
  flex-direction: row-reverse;
}
.left{
  flex: 1;
}
.right{
  flex: 1;
  margin-left: -150px;
  background: white;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #00000028;
}
.item:nth-child(even) .right{
  margin-left: 0;
}
.item:nth-child(even) .left{
  margin-left: -150px;
}
.item .left .img{
  overflow: hidden;
}
.item .left .img img{
  height:450px;
  border-radius:10px;
  box-shadow: 0px 0px 20px #4705fc33;
  object-fit: cover;
}

.button{
 margin-top: 20px;
 cursor: pointer;
 height:45px;
 border-radius: 50px;
 text-align: center;
 margin-right: auto;
 margin-left: auto;
 background: #fff;
 color: #0e89f0;
 border: 1px solid #0e89f0;
 width:100px;
}
.profile{
  cursor: pointer;
  height:45px;
  border-radius: 50px;
  text-align: center;
  margin: 0 10px;
  background: none;
  color: #A5B1FF;
  border: 1px solid #A5B1FF;
  width:100px;
  font-weight: bolder;
}
.footer{
  position:relative;
  color:#A5B1FF;
  text-align: center;
  margin-top:-40px;
}
.footer p{
  margin-bottom:0;

}
.content{
  margin-top: -562px;
  display:flex;
  color:#DFE1FD;

}
.content_wrapper{
  max-width: 80rem;
  margin:0 7%;
  padding: 0;
  padding-left: 60px;
  padding-right:620px;
  min-width: 40%;
  z-index: 20;
}

.order_button{
  cursor: pointer;
  height:45px;
  border-radius: 50px;
  text-align: center;
  margin-top:2rem;
  background: none;
  color: #A5B1FF;
  border: 1px solid #A5B1FF;
  width:100px;
  font-weight: bolder;
}
.content_wrapper h1{
  margin-bottom: 1rem;
}
@media only screen and (min-width:1600px){
  .content_wrapper{
    max-width: 80rem;
    margin:0 7%;
    padding: 0;
    padding-left: 60px;
    padding-right:600px;
    min-width: 40%;
    z-index: 20;
  }
}
@media only screen and (max-width:1079px){
  .content_wrapper{
    max-width: 80rem;
    margin:0 7%;
    padding: 0;
    padding-right:40%;
    min-width: 40%;
    z-index: 20;
  }
}
@media only screen and (max-width:768px){
  .item{
    flex-direction: column;
  }

  .item .right{
    width:90%;
    margin: 0 auto;
  }
  .item:nth-child(even){
    flex-direction: column;
  }
  .item:nth-child(even) .left{
    margin-left: 0px;
  }
  .item:nth-child(even) .right{
    margin-left: auto;
  }

}
@media only screen and (max-width:1004px){
  .blurred_bg{
    background: url("../images/bg_tablet.png") center/cover;
    position:relative;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    animation: hue 10s infinite alternate;
  }
  .another_img{
    background: url("") center/cover;
    mix-blend-mode: normal;
    position:relative;
    height: 100vh;
  }

}
@media only screen and (max-width:810px){
  .branding{
    flex-direction: column;
    margin-top:200px;
  }
  .blurred_bg{
    background: url("../images/bg_mobile_w_out_logo.png") center/cover;
  }
  .content_wrapper{
    max-width: 80rem;
    margin:0 auto;
    padding-left:4rem;
    padding-right: 4rem;
    min-width: 40%;
    z-index: 20;
  }

}
